node_modules
public/hot
public/storage
storage/*.key
vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage.zip
public.zip
mintty.2024-04-04_20-33-04.png
e-shop.sql
